/* color palette derived from BananaDevelopment */
:root {
  --sbc-white: #ffffff;
  --sbc-white-soft: #ccdbde;

  --sbc-black: #000215;
  --sbc-black-soft: #1f1f23;

  --sbc-text-light: #031721 ;
  --sbc-text-light-soft: #1a4159;
  --sbc-text-dark: #ffffff;
  --sbc-text-dark-soft: #94a3c0;

  --sbc-error: #ff8f8f;
  --sbc-success: #7be080;

  --sbc-background: #eef7fc;
  --sbc-primary: #b9f9ff;
  --sbc-secondary: #908ed7;
  --sbc-accent: #1824a9;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--sbc-background);
  --color-background-soft: var(--sbc-white-soft);
  --color-background-mute: var(--sbc-white);

  --color-border: var(--sbc-black-soft);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--sbc-text-light);
  --color-text: var(--sbc-text-light);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
hr {
  margin: 1em 0;
}

ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
