@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Zilla+Slab&display=swap');

.top-navigation {
  position: relative;
  margin: 1em;
  background: linear-gradient(45deg, #1824a9, #908ed7);
  border-radius: 1em;
}
.top-navigation-contents {
  display: flex;
  margin: auto;
  max-width: 100em;
}
.top-navigation-contents ul, li {
  display: inline-flex;
  margin: .2em .2em .2em .2em;
  border-radius: 10em;
  transition: 0.4s;
}
.top-navigation-contents a {
  font-family: 'Zilla Slab',serif;
  color:white;
  font-size: 1.4em;
  padding: .2em .5em;
}
.top-navigation-contents ul:nth-child(2) {
  margin-left: auto;
}
.top-navigation-contents li:hover {
  background: #908ed7;
}

.welcome-wrapper {
  width: 100%;
  height: 100vh;
}

.welcome-contents {
  background: linear-gradient(45deg, #1d115b, #664ac7);
  height: calc((100vh - 84px) - 1em);
  border-radius: 1em;
  margin: 0 1em;
}

.welcome-title-wrapper {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-title{
  width: 24em;
  margin: 0 auto;
  color: white;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 480%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.welcome-title:focus {
  white-space: normal;
  overflow: visible;
}

.bottom-header {
  display: flex;
  margin: 1em;
  height: 5em;
  background: #1f1f23;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: white;
}

.widgets-wrapper {
  margin: auto;
  padding: 1em;
  max-width: 100em;
}

.blog-content {
  display: flex;
  width: 100%;
  gap: 1em;
  flex-direction: row;
}
.blog-content div:nth-of-type(1) {
  flex-grow: 3;
}
.blog-content div:nth-of-type(2) {
  flex-grow: 2;
}
.blog-content div {
  margin: 1em 0 1em;
  height: 15em;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 1px 0 #908ed7;
}
.blog-content p {
  text-align: center;
  transform: translateY(100%);
}

.RoryFrame {
  width: 100%;
  border-radius: 1em;
}
.ctrl {
  visibility: hidden;
}

.RoryFrame img {
  width: 100%;
  border-radius: 1em;
}


/* Animation */
.anim-typewriter{
  animation: typewriter 6s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*
* Projects CSS
*/

.card-container {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
}
.card-container > * {
  flex: 1 1 33%;
  min-height: 20em;
  background-color: white;
  width: 33%;
  border-radius: 1em;
  border: 1px solid green;
}

.card-container >*:nth-child(1) {
  background: url("https://raw.githubusercontent.com/Duedot43/VirtualPass/9964b06f96132ceec968d2db11fc68c2f3a31fe8/src/Images/preview.png") no-repeat, linear-gradient(45deg, #7378ae, #1d115b);
  color: white;
}
.card-container >*:nth-child(5) {
  border-radius: 1em;
  border: 3px solid transparent;

  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #d5842b, #d8d497, #0cc300) border-box;
}

.card-contents {
  height: 100%;
  border-radius: inherit;
  padding: 1em;
}

.blur {
  backdrop-filter: blur(.3em);
}
.card-text{
  height: calc(100% - 4em);
}

.card-actions {
  display: flex;
  gap: .5em;
}

.card-actions a {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid;
  transition: .4s;
}
.card-actions a:hover {
  background: #6bacff;
  color: white;
  border: 1px solid blue;
}

.footer-navigation {
  margin: 1em;
  border-radius: 1em;
  background-color: white;
}

.footer-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-column {
  flex: 1 1 33%;

}
.footer-column > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-column li {
  margin: .2em;
  padding: .2em .4em;
  flex-direction: column;

}
.footer-column li > * {
  text-decoration: none;
}

.footer-column li:hover {
  background: #908ed7;
  cursor: pointer;
}
.footer-legal li:hover {
  background: none;
}
.footer-legal {
  text-align: center;
}

.changelog-head {
  border-radius: 1em;
  padding: 1em;
  background: #e5efff;
}

.changelog-head > div {
  display: flex;
  flex-direction: row;
}



.changelog-head > div p {
  background: #ff5e5e;
  margin: 0 1em;
  padding: .2em .5em;
  border-radius: 3em;
  color: white;
}
/*
* Tree formatting
*/
.tree ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.tree li {
  border-radius: 0;
  border-left: 1px solid #000;
  margin: 0 0 0 1em;
  padding-left: 1em;
}
.tree > li:last-child {
  border-left: 2px solid transparent;
}
